version: "3.3"
services:
  crowler:
    build: .
    image: enjoei-crowler
    ports:
      - "3000:3000"
    env_file:
      - .env
    network_mode: bridge
    
  proxy:
    image: 'jc21/nginx-proxy-manager'
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./docker/data:/data
      - ./docker/letsencrypt:/etc/letsencrypt

